{% extends 'base.html' %}
{% block content %}
<nav class="navbar">
    <form class="container-fluid">
        <a class="gg-arrow-left-r" href="{% url 'post_list' %}"></a>
        <div class="search">
            <input type="text" name="title" placeholder="search"/>
        </div>
        <a class="gg-user" href='/user/{{post.user.username}}'></a>
        <div> 
            <a class="gg-math-plus" href="{% url 'post_create' %}"></a>
        </div>
    </form>
</nav>
<h1>Album Details</h1>

<div>
    <div>
        <span>{{ album.title }}</span>
        {% for post in album.post_set.all %}
        <img src="{{post.img.url}}" />
        <p>{{post.title}}</p>
    {% empty %}
        <p>No images</p>
    {% endfor %}
    </div>
    <div>
        <a href="{% url 'albums_update' album.id %}">Edit</a>
        <a href="{% url 'albums_delete' album.id %}">Delete</a>
    </div>
</div>
{% endblock %}