{% extends 'base.html' %} 
{% block content %}
<nav class="navbar">
    <form class="container-fluid">
        <a class="gg-arrow-left-r" href="{% url 'post_list' %}"></a>
        <div class="search">
            <input type="text" name="title" placeholder="search"/>
        </div>
        <a class="gg-user" href='/user/{{post.user.username}}'></a>
        <div> 
            <a class="gg-math-plus" href="{% url 'post_create' %}"></a>
        </div>
    </form>
</nav>
	<h1>create post</h1>
	
	<form method="post" enctype="multipart/form-data">
		  {% csrf_token %} 
		  {{form.as_p}} 
		  <input type="submit" value="Submit" />
	</form>

    {% if img_obj %}
        <h3>Succesfully uploaded : {{img_obj.title}}</h3>
        <img src="{{ img_obj.image}}" alt="connect" style="max-height:300px">
    {% endif %}

{% endblock %}