{% extends 'base.html' %}
{% block content %}
<nav class="navbar">
    <form class="container-fluid">
        <a class="gg-arrow-left-r" href="{% url 'post_list' %}"></a>
        <div class="search">
            <input type="text" name="title" placeholder="search"/>
        </div>
        <a class="gg-user" href='/user/{{post.user.username}}'></a>
        <div> 
            <a class="gg-math-plus" href="{% url 'post_create' %}"></a>
        </div>
    </form>
</nav>



<h1>Post</h1>
{% for post in posts %}
<a href="{% url 'post_detail' post.pk %}" >
    <img src="{{post.img.url}}" />
</a>
<h6>{{post.title}}</h6>
<a href='/user/{{post.user.username}}'>{{post.user.username}}</a>
{% endfor %}

<div>
    <a class="gg-math-plus" href="{% url 'post_create' %}"></a>
</div>


{% endblock %}